@model AudiobookBG.Web.ViewModels.Administration.AudioFiles.AudioFileInputModel
@{
    ViewData["Title"] = "Create new AudioFile";
    ViewData["BookId"] = Model.BookIdFromGetMethod;
}
<h1>@ViewData["Title"]</h1>

<form asp-area="Administration" asp-controller="AudioFiles" asp-action="Create" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="BookId" value=@ViewData["BookId"]>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input id="title" asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AudioFile" class="control-label"></label>
        <input type="file" name="AudioFile">
        <span asp-validation-for="AudioFile" class="text-danger"></span>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
