@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="page-header header-filter" style="background-image: url('../../../img/HomePage.jpg'); background-size: cover; background-position:top center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <div class="card card-login">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form">
                        <div class="card-header card-header-primary text-center">
                            <h4 class="card-title">Create a new account</h4>
                        </div>
                        <div class="card-body">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.UserName" class="bmd-label-static"></label>
                                <input asp-for="Input.UserName" class="form-control" />
                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Email" class="bmd-label-static"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password" class="bmd-label-static"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword" class="bmd-label-static"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="footer text-center">
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
