@model AudiobookBG.Web.ViewModels.Administration.Categories.CategoryViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

    <p>
        <a asp-area="Administration" asp-action="Create" asp-controller="Books">Create New</a>
    </p>

<h1 class="text-center"><span class="badge badge-pill badge-dark">@Model.Name</span></h1>
<div class="bg-blur container">
    <div class="row">
        @foreach (var item in Model.Books)
        {
            <div class="col-3 text-center">
                <a href="@item.Url"><img src="@item.CoverUrl" class="img-fluid" width="200" height="200" /></a>
            </div>
        }
    </div>
</div>
