@model AudiobookBG.Web.ViewModels.Administration.Categories.AllViewModel

@{
    ViewData["Title"] = "All";
}

<h1>All</h1>

<p>
    <a asp-area="Administration" asp-action="Create" asp-controller="Categories">Create New</a>
</p>
<div class="row">
@foreach (var item in Model.All)
{
    <div class="card mt-2 col-md-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><a href="@item.Url">@item.Name (@item.CategoriesBooksCount)</a></h5>
            <a asp-area="Administration" asp-controller="Categories" asp-action="Edit" class="btn btn-info">Edit</a>
            <a asp-area="Administration" asp-controller="Categories" asp-action="Delete" class="btn btn-danger">Delete</a>
        </div>
    </div>
}
</div>
