@using AudiobookBG.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="page-header header-filter" data-parallax="true" style="background-image: url('img/HomePage.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand text-center">
                    <h1>Welcome to @GlobalConstants.SystemName!</h1>
                    <h3 class="title text-center">Listen to your favourite books</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
            <h2 class="title">Your main section here</h2>
        </div>
    </div>
</div>
