@model AudiobookBG.Web.ViewModels.Administration.Books.EditBookViewModel
@{
    ViewData["Title"] = "Edit Book";
}
<link href="~/css/fSelect.css" rel="stylesheet">
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/fSelect.js"></script>

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <div class="card">
                    <form method="post" enctype="multipart/form-data">
                        <div class="card-header card-header-primary text-center">
                            <h4 class="card-title">@ViewData["Title"]</h4>
                        </div>
                        <input type="hidden" asp-for="Id"/>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input id="title" asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea id="description" asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="SelectedCategories" class="control-label">Select Categories</label>
                            <select asp-for="SelectedCategories" class="form-control" id="listCat" multiple="multiple" asp-items="Model.Categories.Select(x => new SelectListItem(x.Name, x.Id.ToString()))">
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="SelectedAuthors" class="control-label">Select Authors</label>
                            <select style="background-color:black" asp-for="SelectedAuthors" class="form-control" id="listAuth" multiple="multiple" asp-items="Model.Authors.Select(x => new SelectListItem(x.FullName, x.Id.ToString()))">
                            </select>
                        </div>

                        <div class="custom-file">
                            <input asp-for="Image" type="file" class="custom-file-input border-dark">
                            <label asp-for="Image" class="custom-file-label text-truncate">Choose new Image</label>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="submit" value="Edit" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#listCat').fSelect();
    $('#listAuth').fSelect();
    $('.custom-file-input').on('change', function () {
        let fileName = $(this).val().split('\\').pop();
        $(this).next('.custom-file-label').addClass("selected").html(fileName);
    });
</script>


